@model AsteelProjectManagement.Models.Attachments

@{
    ViewData["Title"] = "Edit Link";
}


<form asp-action="Edit" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.FilePath)
        @Html.TextBoxFor(m => m.FilePath, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FilePath)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
  



</form>
