@model AsteelProjectManagement.Models.Versions

@{
    ViewData["Title"] = "Edit Link";
}


<form asp-action="Edit" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.SourcePath)
        @Html.TextBoxFor(m => m.SourcePath, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SourcePath)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DestinationPath)
        @Html.TextBoxFor(m => m.DestinationPath, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DestinationPath)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Notes)
        @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Notes)
    </div>
  
   




</form>
